version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: mongo_gc
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: backend_gc
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  frontend:
    build: ./frontend/project-gc
    container_name: frontend_gc
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo_data:
